/* globals */
:root{
--yellow: #F8C537;
--blue: #022E64;
--white: #ffffff;
--black: #000000;
--pageHeader: 58px;
--paragraph: 18px;
}

body{
    width: 80%
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    line-height: 1.5;
    background-color: #F7F3F5;
    color: var(--black);
}

.contanier{
    width: 80%;
    margin: auto;
    padding: 0;
}

/*HEADER*/
header{
    background-color: var(--blue);
}

header .contanier{
    min-height: 60px;
}

header h1{
    color: var(--white);
    font-size: 32px;
    float: left;
}

header ul{
    float: right;
}

header li{
    display: inline;
    padding: 10px;
}

.buttonNav, .projButn{
    text-align: center;
    border: none;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    transition: 0.9s;
    background-color: var(--blue);
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
}

.buttonNav:hover, .projButn:hover{
    background-color: var(--yellow);
    color: var(--blue);
}

.socialNav{
    display: inline-block;
    transition: 0.9s;
    color: var(--white);
    font-size: 18px;
}

.socialNav:hover{
    color: var(--yellow);
    transform: scale(1.5,1.5);
}

/*SUMMARY*/
#summary{
    margin-bottom: auto;
}

#summary .Welcome h1{
    font-size: var(--pageHeader);
    transform: translate(15%,0);
}

#summary .quot p{
    font-size: 36px;
    text-align: center;
}

#summary .overVeiw h1{
    font-size: var(--pageHeader);
    transform: translate(15%,0);
}

#summary .summaryPar p{
    margin: auto;
    width: 50%;
    font-size: var(--paragraph);
    text-align: center;
}

#summary .skillHeader{
    text-align: center;
}

#summary .boxSkills{
    margin: auto;
    width: 50%;
    display:block;
    column-count: 2;
}

#summary .hardSkills, .softSkills{
    font-size: 18px;
    text-align: center;
    border: 2px #F7F3F5 solid;

}

/*WORK*/
#work{
    margin-bottom: auto;
}

#work p{
    margin: auto;
    font-size: var(--paragraph);
    text-align: center;
}

#work .workHeader h1{
    font-size: var(--pageHeader);
    transform: translate(15%,0);
}

#work .projects{
    vertical-align: top;
    margin: auto;
    display:block;
    column-count: 2;
}

#work .pros1, .pros2, .pros3, .pros4{
    text-align: center;
    border: 2px #F7F3F5 solid;
}

#work .image{
    transition: 0.09s;
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: red;
    border: 2px black solid;
}

.image .overlay{
    left: inherit;
    transition: 0.9s;
    position: absolute;
    background-color: var(--blue);
    opacity: 0;
    width: 0;
    height: inherit;
}

#work .image:hover .overlay{
    width: 200px;
    opacity: 1;
}

#work .projButn{
    transform: translate(0,25px);
}

/*ABOUT ME*/
#about .aboutHeader h1{
    font-size: var(--pageHeader);
    transform: translate(15%,0);
}

#about p{
    margin: auto;
    width: 50%;
    font-size: var(--paragraph);
    text-align: center;
}

/*FOOTER*/
footer{
    background-color: var(--blue);
}

footer .contanier{
    min-height: 60px;
}

footer ul{
    float: right;
}

footer li{
    display: inline;
    padding: 10px;
}
