/* globals */

body{
    width: 80%
    margin: auto;
    padding: 0;
    font-family:sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: black;
}

.contanier{
    width: 80%;
    margin: auto;
/*    border-color: red;
    border-style: solid;
    border-width: thin;
*/
}



.boxSkills{
    margin: auto;
    padding: 0;
    width: 80%;
    min-width: 80%;
    height: 450px;
}

.skillTree{
    width: 15%;
    float: left;
    min-height: 50%;
    min-width: 150px;
    margin: auto;
    margin-top: 5px;
    margin-left: 7px;
    padding-left: 10px;
    border-color: red;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    text-align: center;
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: red;
}

/*HEADER*/

header{
    color: #ffffff;
}

header .contanier{
    height: 60px;
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -75px);
    background-color: #000000;
}

header h1{
    float: left;
    margin-left: 5px;
}

header ul{
    float: right;
}

header li{
    display: inline;
    text-transform: uppercase;
    padding: 5px;
}

/*SUMMARY*/

#summary{
    margin-top: 75px;
    background-image: url("../images/mainBG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 800px;
}

#summary .contanier{
    height: inherit;
}

#summary h1{
    text-align: center;
    font-size: 38px;
}

#summary p{
    text-align: center;
    font-size: 28px;
}

#summary h2{
    text-align: center;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    border-radius: 20px;
}


#summary article li{
    text-align: left;
    font-size: 20px;
}

#work{
    color: #ffffff;
}

#work h1{
    font-size: 38px;
    text-transform: uppercase;
    text-decoration: underline;
}

#work p{
    font-size: 20px;
}

#work .projCon{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}

#work .leftSide, .rightSide{
    width: 600px;
    text-align: center;
    margin: auto;
    border: 2px red solid;
    border-radius: 60px;
}


#about{
    height: 400px;
    background-image: url("../images/aboutMe.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about .contanier{
    height: inherit;
    color: #ffffff;
}

#about h1{
    font-size: 28px;
    text-decoration: underline;
    text-transform: uppercase;
}

#about p{
    font-size: 20px;
}

#about h1, p{
    background-color: rgba(0,0,0,0.5);
}

footer{
    height: 60px;
}

footer .contanier{
    border-top-color: red;
    border-top-width: 2px;
    border-top-style: solid;
    border-right-color: red;
    border-right-width: 2px;
    border-right-style: solid;
    height: inherit;
}

footer ul{
    text-align: center;
}

footer li{
    display: inline;
    text-decoration: none;
}
